[submodule "src/mrisc32-a1"]
	path = src/mrisc32-a1
	url = git@github.com:mrisc32/mrisc32-a1.git
[submodule "src/rom/selftest"]
	path = src/selftest
	url = git@github.com:mrisc32/mrisc32-selftest.git
[submodule "src/mc1-sdk"]
	path = src/mc1-sdk
	url = git@github.com:mrisc32/mc1-sdk.git
